<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fridges</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="container">
        <h2>Fridges</h2>
        <h3>Send email</h3>
        <div class="collection collection-vertical collection-shade-1">
            <p>Enter the email to send to...</p>
            <form action="/send_email" method="POST" id="email-form">
                <input type="email" name="email" id="email" required="true" placeholder="iot@example.com">
                <button class="button" type="submit">
                    Send
                </button>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        <h3>Fridge 1</h3>
        <div class="collection collection-shade-2">
            <div class="collection collection-shade-3">Temp: <span id="f1_temp">--</span></div>
            <div class="collection collection-shade-3">Humidity: <span id="f1_humidity">--</span></div>
        </div>

        <h3>Fridge 2</h3>
        <div class="collection collection-shade-2">
            <div class="collection collection-shade-3">Temp: <span id="f2_temp">--</span></div>
            <div class="collection collection-shade-3">Humidity: <span id="f2_humidity">--</span></div>
        </div>
    </div>
</body>

<script>
async function fetchTemps() {
    try {
        const response = await fetch('/api/temps');
        const data = await response.json();

        document.getElementById('f1_temp').textContent = data.fridge1_temp ?? '--';
        document.getElementById('f1_humidity').textContent = data.fridge1_humidity ?? '--';

        document.getElementById('f2_temp').textContent = data.fridge2_temp ?? '--';
        document.getElementById('f2_humidity').textContent = data.fridge2_humidity ?? '--';

    } catch (error) {
        console.error("Error fetching temps:", error);
    }
}

// refresh every 2 seconds
setInterval(fetchTemps, 2000);

// run immediately on page load
fetchTemps();
</script>
</html>