<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Dashboard</title>

    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <h1>IoT Dashboard</h1>
    <div class="container">
        <div class="collection">
            <a href="fridges">
                <div class="button">
                    Phase 2 - Fridges
                </div>
            </a>
        </div>
    </div>
</body>
</html>