{% extends "components/base.html" %}

{% block title %}IoT Dashboard{% endblock %}

{% block content %}
<body>
    <h1>IoT Dashboard</h1>
    <div class="container">
        <div class="collection">
            <a href="fridges">
                <div class="button">
                    Phase 2 - Fridges
                </div>
            </a>
            <a href="admin">
                <div class="button">
                    Phase 3 - Admin
                </div>
            </a>
            <a href="client">
                <div class="button">
                    Phase 3 - Client
                </div>
            </a>
        </div>
    </div>
</body>
</html>
{% endblock %}
